/* Reset general */
* {
    -fx-focus-color: #576574; /* Focus Color */
}

/* Tab styles */
.tab-header-area .tab-header-background {
    -fx-background-color: #2E86C1; /* Primary Color */
}

.tab-pane .tab:selected {
    -fx-background-color: #576574; /* Secondary Color */
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.tab .tab-label {
    -fx-alignment: center;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 0 5;
}

.tab-pane:top *.tab-header-area {
    -fx-padding: 0 0 0 20;
}

.tab-pane {
    -fx-background-color: transparent;
    -fx-tab-min-width: 50px;
    -fx-tab-min-height: 40px;
    -fx-tab-max-height: 40px;
}

.tab-pane .tab {
    -fx-background-color: transparent;
}

.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
}

/* Button styles */
/* Button styles */
.button {
    -fx-background-color: #2E86C1; /* Primary Color */
    -fx-border: none;
    -fx-text-fill: white; /* Text Color */
    -fx-font-weight: bold; /* Bold text */
    -fx-padding: 8px 15px; /* Padding */
    -fx-background-radius: 5px; /* Border radius */
    -fx-font-size: 14px; /* Font size */
}

.button:hover {
    -fx-background-color: #576574; /* Secondary Color */
}

.button:pressed {
    -fx-background-color: #34495E; /* Darker shade of secondary color */
}

/* Combo box styles */
.combo-box-base {
    -fx-background-color: #2E86C1; /* Primary Color */
    -fx-background-radius: 0;
}

.combo-box-base:hover {
    -fx-background-color: #576574; /* Secondary Color */
}

.combo-box-base:disabled {
    -fx-background-color: #808080; /* Gray Color */
}

.combo-box .list-cell {
    -fx-text-fill: white;
}

.combo-box-base .arrow-button .arrow {
    -fx-background-color: white;
}

/* While showing */
.combo-box-base:showing {
    -fx-background-color: #576574; /* Secondary Color */
}

.combo-box .combo-box-popup .list-view .list-cell {
    -fx-background-color: #2E86C1; /* Primary Color */
}

.combo-box .combo-box-popup .list-view .list-cell:hover,
.combo-box .combo-box-popup .list-view .list-cell:selected {
    -fx-background-color: #576574; /* Secondary Color */
}
